___

<a href='https://www.darshan.ac.in/'> <img src='https://www.darshan.ac.in/Upload/Logo/DIET_Logo.svg' /></a>
___

# 01) WAP to find tuples which have all elements divisible by K from a list of tuples.

In [1]:
tuple = [(3, 18, 2), (6, 24, 36), (17, 13, 21)] 
print("The original list is : " + str(tuple)) 
K = 6
res = [sub for sub in tuple if all(ele % K == 0 for ele in sub)] 
print("K Multiple elements tuples : " + str(res))

The original list is : [(3, 18, 2), (6, 24, 36), (17, 13, 21)]
K Multiple elements tuples : [(6, 24, 36)]

# 02) WAP to covert tuple into list by adding the given string after every element.

In [ ]:
tuple = (1,2,3,4,5) 
print("The original tuple is : ", tuple) 
  
# initializing K 
K = "Python"
  
# list comprehension for nested loop for flatten 
res = [ele for sub in tuple for ele in (sub, K)] 
  
# printing result 
print("Converted Tuple with K : ", res)

The original tuple is :  (1, 2, 3, 4, 5)
Converted Tuple with K :  [1, 'Python', 2, 'Python', 3, 'Python', 4, 'Python', 5, 'Python']

# 03) WAP to find Tuples with positive elements in List of tuples.

In [2]:
tuple = [(1,4,8), (-1, 2, -3), (3, 5, 1), (-7, 6)] 
print("The original list is : " + str(tuple)) 

res = [sub for sub in tuple if all(ele >= 0 for ele in sub)] 
  
# printing result 
print("Positive elements Tuples : " + str(res))

The original list is : [(1, 4, 8), (-1, 2, -3), (3, 5, 1), (-7, 6)]
Positive elements Tuples : [(1, 4, 8), (3, 5, 1)]

# 04) WAP to find elements frequency in given tuple.

In [5]:
tuple = [('Python', 0), ('ADA', 1), ('SE', 2)] 

print ("The original list is : " + str(tuple)) 
 
res = list(map(lambda i : i[0], tuple)).count('Python') 

print ("The frequency of element is : " + str(res))

The original list is : [('Python', 0), ('ADA', 1), ('SE', 2)]
The frequency of element is : 1

# 05) WAP to Convert Binary tuple to integer

In [6]:
tuple = (1,0,1,0) 

print("The original tuple is : " + str(tuple)) 
  
# using int() with base to get actual number 
res = int("".join(str(ele) for ele in tuple), 2)  
  
# printing result  
print("Decimal number is : " + str(res))

The original tuple is : (1, 0, 1, 0)
Decimal number is : 10

# 06) WAP to check given any list elements is present in given Tuple or not.

In [ ]:
tuple = (("Python", "py"), ("Data", "Science")) 

# printing tuple 
print ("The original tuple is " + str(tuple)) 

if (any('Python' in i for i in tuple)) : 
	print("Python is present") 
else : 
	print("Python is not present")

The original tuple is (('Python', 'py'), ('Data', 'Science'))
Python is present