___

<a href='https://www.darshan.ac.in/'> <img src='https://www.darshan.ac.in/Upload/Logo/DIET_Logo.svg' /></a>
___

# 01) WAP to find tuples which have all elements divisible by K from a list of tuples.

In [4]:
tuple = [(6, 24, 12), (7, 9, 6), (12, 18, 21)] 
print("The original list is : " + str(tuple)) 
K = 6
res = [sub for sub in tuple if all(ele % K == 0 for ele in sub)] 
print("K Multiple elements tuples : " + str(res))

The original list is : [(6, 24, 12), (7, 9, 6), (12, 18, 21)]
K Multiple elements tuples : [(6, 24, 12)]

# 02) WAP to covert tuple into list by adding the given string after every element.

In [5]:
tuple = (1,2,3,4,5) 
print("The original tuple is : ", tuple) 
  
# initializing K 
K = "Python"
  
# list comprehension for nested loop for flatten 
res = [ele for sub in tuple for ele in (sub, K)] 
  
# printing result 
print("Converted Tuple with K : ", res)

The original tuple is :  (1, 2, 3, 4, 5)
Converted Tuple with K :  [1, 'Python', 2, 'Python', 3, 'Python', 4, 'Python', 5, 'Python']

# 03) WAP to find Tuples with positive elements in List of tuples.

In [8]:
tuple = [(1,2,3), (-1, 2, -3), (-3, 4, 1), (7, 6)] 
print("The original list is : " + str(tuple)) 

res = [sub for sub in tuple if all(ele >= 0 for ele in sub)] 
  
# printing result 
print("Positive elements Tuples : " + str(res))

The original list is : [(1, 2, 3), (-1, 2, -3), (-3, 4, 1), (7, 6)]
Positive elements Tuples : [(1, 2, 3), (7, 6)]

# 04) WAP to find elements frequency in given tuple.

In [10]:
tuple = [('Python', 1), ('Data', 2), ('Python', 3)] 

print ("The original list is : " + str(tuple)) 
 
res = list(map(lambda i : i[0], tuple)).count('Python') 

print ("The frequency of element is : " + str(res))

The original list is : [('Python', 1), ('Data', 2), ('Python', 3)]
The frequency of element is : 2

# 05) WAP to Convert Binary tuple to integer

In [12]:
tuple = (1,0,0,1) 

print("The original tuple is : " + str(tuple)) 
  
# using int() with base to get actual number 
res = int("".join(str(ele) for ele in tuple), 2)  
  
# printing result  
print("Decimal number is : " + str(res))

The original tuple is : (1, 0, 0, 1)
Decimal number is : 9

# 06) WAP to check given any list elements is present in given Tuple or not.

In [16]:
tuple = (("Python", "py"), ("Data", "Science")) 

# printing tuple 
print ("The original tuple is " + str(tuple)) 

if (any('Python' in i for i in tuple)) : 
	print("Python is present") 
else : 
	print("Python is not present")

The original tuple is (('Python', 'py'), ('Data', 'Science'))
Python is present