___

<a href='https://www.darshan.ac.in/'> <img src='https://www.darshan.ac.in/Upload/Logo/DIET_Logo.svg' /></a>
___

# 01) WAP to find tuples which have all elements divisible by K from a list of tuples.

In [2]:
test_1 = [(6, 24, 12), (7, 9, 6), (12, 18, 21)] 
print("The original list is :- " + str(test_1)) 
K = 6
res = [sub for sub in test_1 if all(ele % K == 0 for ele in sub)] 
  
print("K Multiple elements tuples :- " + str(res))

The original list is : [(6, 24, 12), (7, 9, 6), (12, 18, 21)]
K Multiple elements tuples : [(6, 24, 12)]

# 02) WAP to covert tuple into list by adding the given string after every element.

In [8]:
test_1 = (1, 5, 8, 34, 9, 2, 27, 56)   
print("The original tuple is :- ", test_1) 
x = "abcd"

  
# list comprehension for nested loop for flatten 
res = [ele for sub in test_1 for ele in (sub, x)] 
  
# printing result 
print("Converted Tuple with x :- ", res)

The original tuple is :-  (1, 5, 8, 34, 9, 2, 27, 56)
Converted Tuple with x :-  [1, 'abcd', 5, 'abcd', 8, 'abcd', 34, 'abcd', 9, 'abcd', 2, 'abcd', 27, 'abcd', 56, 'abcd']

# 03) WAP to find Tuples with positive elements in List of tuples.

In [3]:
test_1 = [(2, -55, 9), (8, 22, 37), (-4, 9, 16), (4, -6),(22, -23, -77),(-44, -1, 55)] 
print("The original list is : " + str(test_1)) 
res = [sub for sub in test_1 if all(ele >= 0 for ele in sub)] 
  
print("Positive elements Tuples :- " + str(res))

The original list is : [(2, -55, 9), (8, 22, 37), (-4, 9, 16), (4, -6), (22, -23, -77), (-44, -1, 55)]
Positive elements Tuples : [(8, 22, 37)]

# 04) WAP to find elements frequency in given tuple.

In [11]:
test_1 = [('xyz', 1), ('for', 2), ('xyz', 3), ('xyz', 7)] 
  
print ("The original list is : " + str(test_1)) 
res = list(map(lambda i : i[0], test_1)).count('xyz')  
print ("The frequency of element is : " + str(res))

The original list is : [('xyz', 1), ('for', 2), ('xyz', 3), ('xyz', 7)]
The frequency of element is : 3

# 05) WAP to Convert Binary tuple to integer

In [6]:
test_1 = (1, 1, 1, 1, 0, 0, 1,) 
print("The Binary tuple is :- " + str(test_1))  
res = int("".join(str(ele) for ele in test_1), 2)  
 
print("integer number is :- " + str(res))

The Binary tuple is :- (1, 1, 1, 1, 0, 0, 1)
integer number is :- 121

# 06) WAP to check given any list elements is present in given Tuple or not.

In [7]:
test_1 = [12, 9, 10, 13,'sa','ka', 4]

element = 'sa'

if element in test_1:
    print(element,"present in  given tuple.")
else:
    print(element,"does not present in  given tuple.")

sa present in  given tuple