___

<a href='https://www.darshan.ac.in/'> <img src='https://www.darshan.ac.in/Upload/Logo/DIET_Logo.svg' /></a>
___

# 01) WAP to find tuples which have all elements divisible by K from a list of tuples.

In [2]:
test_list = [(6, 24, 12), (7, 9, 6), (12, 18, 21)]  
print("The original list is : " + str(test_list)) 
K = 6
res = [sub for sub in test_list if all(ele % K == 0 for ele in sub)] 
print("K Multiple elements tuples : " + str(res))

The original list is : [(6, 24, 12), (7, 9, 6), (12, 18, 21)]
K Multiple elements tuples : [(6, 24, 12)]

# 02) WAP to covert tuple into list by adding the given string after every element.

In [3]:
test_tup = (5, 6, 7, 4, 9) 
print("The original tuple is : ", test_tup) 
K = "DIET"
res = [ele for sub in test_tup for ele in (sub, K)] 
print("Converted Tuple : ", res)

The original tuple is :  (5, 6, 7, 4, 9)
Converted Tuple :  [5, 'DIET', 6, 'DIET', 7, 'DIET', 4, 'DIET', 9, 'DIET']

# 03) WAP to find Tuples with positive elements in List of tuples.

In [4]:
test_list = [(6, 24, 12), (-7, 9, 6), (12, 18, 21)]  
print("The original list is : " + str(test_list)) 
res = [sub for sub in test_list if all(ele>=0 for ele in sub)] 
print("positive elements tuples : " + str(res))

The original list is : [(6, 24, 12), (-7, 9, 6), (12, 18, 21)]
positive elements tuples : [(6, 24, 12), (12, 18, 21)]

# 04) WAP to find elements frequency in given tuple.

In [17]:
test_list = [('Apple', 'Mon'), ('Banana', 'Tue'), ('Apple', 'Wed'),('Apple', 'M'), ('Banana', 'T'), ('Appy', 'W')]  
print("The original list is : " + str(test_list)) 
Freq_res = list(map(lambda i: i[0], test_list)).count('Apple')
print("The frequency of element is : ",Freq_res)

The original list is : [('Apple', 'Mon'), ('Banana', 'Tue'), ('Apple', 'Wed'), ('Apple', 'M'), ('Banana', 'T'), ('Appy', 'W')]
The frequency of element is :  3

# 05) WAP to Convert Binary tuple to integer

In [ ]:
test_tup = (1, 1, 0, 1, 0, 0, 1) 
print("The original tuple is : " + str(test_tup))  
res = int("".join(str(ele) for ele in test_tup), 2)  
print("Decimal number is : " + str(res))

# 06) WAP to check given any list elements is present in given Tuple or not.

In [20]:
test_tuple = (("Darshan","Diet"), ("python", "best")) 
print ("The original tuple is " + str(test_tuple)) 
if (any('Darshan' in i for i in test_tuple)) : 
    print("Darshan is present") 
else : 
    print("Darshan is not present")

The original tuple is (('Darshan', 'Diet'), ('python', 'best'))
Darshan is present